body {
    background: url(../images/bg.jpg) 0 0 no-repeat;
    position: relative
}

#wrap {
    width: 1154px;
    height: 505px;
    position: absolute;
    top: 130px;
    left: 61px;
    border: 2px solid #4a4365;
    border-radius: 8px
}

#inner {
    width: 1068px;
    height: 465px;
    position: absolute;
    left: 43px;
    top: 20px;
    overflow: hidden
}

#content {
    line-height: 28px;
    color: #fff;
    font-size: 17px
}

#content p {
    margin: 0 0 14px 0
}

#progressBar {
    width: 8px;
    height: 503px;
    background: #292344;
    border-radius: 5px;
    right: 63px;
    top: 132px;
    position: absolute;
    border: 1px solid #292344
}

#strip {
    width: 8px;
    background: -webkit-linear-gradient(left, #5a5a5a 0, #8e8e8e 100%);
    border-radius: 5px;
    left: 0;
    top: 0;
    position: absolute
}

#cue {
    position: absolute;
    bottom: 38px;
    right: 63px;
    font-size: 17px;
    color: #fff
}

#cue span {
    color: rgba(237, 165, 2, 1)
}