body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  background: transparent;
}

#bgImg {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#caBg {
  position: absolute;
  left: 0;
  top: 0;
}

#bigVideoName {
  position: absolute;
  left: 47px;
  top: 89px;
  color: #FFF;
  border-left: 8px solid #FFF;
  padding-left: 6px;
  font-size: 24px;
  width:820px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#bigVideo {
  position: absolute;
  width: 820px;
  height: 460px;
  border: 4px #1f1f1f solid;
  left: 46px;
  top: 130px;
}

#video {
  position: absolute;
  left: 924px;
  top: 12px;
}

#video .videoName {
  color: #FFF;
  font-size: 19px;
  line-height: 28px;
  height: 28px;
  margin-top: 14px;
  margin-bottom: 4px;
  padding-left: 4px;
  width:300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#video .video {
  width: 302px;
  height: 170px;
  border: 4px solid #1f1f1f;
  /* background: #0e1212 url(images/movie.png) center center no-repeat; */
  background: #000000;
}

#video .video:last-child {
  margin-bottom: 8px;
}

#video .video.transparent {
  background: transparent;
}

#bigVideo.focusBorder,
#video .focusBorder {
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 12px 3px #fff;
  z-index: 1;
}

.popUp {
  background: rgba(18, 18, 23, 0.95);
  position: absolute;
  width: 395px;
  height: 720px;
  top: 0;
  right: 0;
  z-index: 2;
}

.popUp .cue {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 246px;
  left: 0;
  font-size: 27px;
}
.popUp .confirm,
.popUp .return {
  width: 153px;
  height: 46px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  line-height: 62px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.popUp .confirm {
  top: 336px;
}

.popUp .return {
  top: 427px;
}
 #fullScreenEnter .confirm{
  background: url("../images/sure.png") no-repeat ; 
  
 }  
#fullScreenEnter .return{
  background: url("../images/cancle.png") no-repeat;
}
#fullScreenEnter .confirm.focusBorder {
  background: url("../images/sureFous.png") no-repeat;
}
#fullScreenEnter .return.focusBorder {
  background: url("../images/cancleFous.png") no-repeat;
}
#backCue .confirm{
  background: url("../images/quit.png") no-repeat;
}
#backCue .return{
  background: url("../images/continue.png") no-repeat;
}
#backCue .confirm.focusBorder {
  background: url("../images/quitFous.png") no-repeat;
}
#backCue .return.focusBorder {
  background: url("../images/continueFoucs.png") no-repeat;
}
/* .popUp .confirm.focusBorder,
.popUp .return.focusBorder {
  background: -webkit-linear-gradient(left, #eba600 0, #ec8a0d 100%);
  color: #1b0f01;
} */
