    *{
    margin:0px;
    padding:0px;
    }
    #content{
    width:1920px;
    height:1080px;
    position: relative;
    }
    #list{
    position:relative;
    left:197px;
    top:344px;
    width:1442px;
    height:608px;
    }
    .item{
    position:absolute;
    box-shadow:0px 0px 20px #000;
    }
    .front1{
    width:280px;
    height:373px;
    top:123px;
    z-index:1;
    filter: brightness(45%);
    }
    .front2{
    width:322px;
    height:438px;
    top:94px;
    left:141px;
    z-index:2;
    filter: brightness(65%);
    }
    .front3{
    width:370px;
    height:492px;
    top:57px;
    left:326px;
    z-index:3;
    filter: brightness(85%);
    }
    .active{
    width:455px;
    height:608px;
    left:505px;
    z-index:10;
    }
    .back3{
    width:370px;
    height:492px;
    top:57px;
    right:326px;
    z-index:3;
    filter: brightness(85%);
    }
    .back2{
    width:322px;
    height:438px;
    top:94px;
    right:141px;
    z-index:2;
    filter: brightness(65%);
    }
    .back1{
    width:280px;
    height:373px;
    top:123px;
    right:0px;
    z-index:1;
    filter: brightness(45%);
    }
    .title{
    position:absolute;
    width:455px;
    font-size:51px;
    color:#FFFFFF;
    /* text-align:center; */
    bottom:-75px;
    left:505px;
    height:60px;
    /* overflow:hidden; */
    z-index: 1
    }
    .autoText {
     text-overflow:ellipsis;
     overflow:hidden;
     white-space:nowrap;
     text-align:center
    }
    .focusBorder{
    border: 5px solid #fff;
    box-shadow: #fff 0 0 5px 2px;	
    }